<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="E:\HE_THONG_SO_HDL\THUC_HANH\LAB3_DMA\DMAFinal\software\DMA_2\DMA_2.elf"/>
<stringAttribute key="modelSimPath" value="C:\Users\ASUS\Downloads\quatus\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="DMA_2.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="DMA_2"/>
<stringAttribute key="spdPath" value="E:\HE_THONG_SO_HDL\THUC_HANH\LAB3_DMA\DMAFinal\System_tb.spd"/>
</launchConfiguration>
